@import "../../styles/_variables.scss";

.portfolio {
  padding: 125px 0;
  background-color: $bg-color-gray;

  &-subtitle {
    margin-top: 15px;
    margin-bottom: 60px;
    font-size: 25px;
  }

  &-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 50px;
  }

  &-item {
    width: calc(100% - 40px);
    background-color: $white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;

    &-img {
      width: 50%;
      height: 345px;
      overflow: hidden;

      img {
        width: 100%;
        transform: translateY(0%);
        transition: transform 5s ease-in-out 0s;

        &:hover {
          transform: translateY(-50%);
          transition: transform 5s ease-in-out 0s;
        }
      }
    }

    &-about {
      display: flex;
      flex-basis: 40%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }

    &-name {
      color: $dark-1;
      text-transform: uppercase;
      font-weight: 700;
    }

    &-description {
      margin-top: 20px;
      color: $text-color-gray-2;
    }

    &-skills {
      display: flex;
      gap: 10px;
      margin-top: 20px;
    }

    &-skill {
      padding: 15px;
    }

    &-links {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 15px;
      margin-top: 20px;

      &-github {
        text-decoration: none;
        height: 31px;
        display: flex;
        align-items: center;
        gap: 5px;
        color: $black;
        transition: $transition;

        svg {
          fill: $white;
          transition: $transition;
        }

        &:hover {
          color: $primary-blue;
          transition: $transition;

          svg {
            transition: 0.35s all;
            stroke: $primary-blue;
          }
        }
      }

      &-outer {
        text-decoration: none;
        height: 31px;
        display: flex;
        align-items: center;
        gap: 5px;
        color: $black;
        transition: $transition;

        svg {
          fill: $white;
          transition: $transition;
        }

        &:hover {
          color: $primary-blue;
          transition: $transition;
          
          svg {
            transition: 0.35s all;
            stroke: $primary-blue;
          }
        }
      }
    }

    &_reversed {
      flex-direction: row-reverse;
    }
  }
}
