@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }

  to {
    transform: rotate(360deg);
  }
}

// @keyframes hoverVerticalScrollDown {
//   from {
//     transform: translateY(0%);
//   }

//   to {
//     transform: translateY(-50%);
//   }
// }

// @keyframes hoverVerticalScrollUp {
//   from {
//     transform: translateY(0%);
//   }

//   to {
//     transform: translateY(0%);
//   }
// }
