.cv-body {
  font-family: "Roboto", sans-serif;
  color: #545e6c;
  background: #f5f5f5;
  font-size: 14px;
  padding: 30px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  line-height: 1.5;
}
.cv-h {
  font-weight: 700;
  line-height: 1.15;
}
.cv-a {
  color: #2e4049;
  transition: all 0.4s ease-in-out;
}
.cv-a:hover {
  text-decoration: underline;
  color: #10171a;
}
.cv-a:focus {
  text-decoration: none;
}
.cv-p {
  line-height: 1.5;
}
.cv-wrapper {
  background: #5bb66f;
  max-width: 960px;
  margin: 0 auto;
  position: relative;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
.cv-sidebar-wrapper {
  background: #5bb66f;
  position: absolute;
  right: 0;
  width: 240px;
  height: 100%;
  min-height: 800px;
  color: #fff;
}
.cv-sidebar-wrapper a {
  color: #fff;
}
.cv-sidebar-wrapper .cv-profile-container {
  padding: 30px;
  background: rgba(0, 0, 0, 0.2);
  text-align: center;
  color: #fff;
}
.cv-sidebar-wrapper .name {
  font-size: 32px;
  font-weight: 900;
  margin-top: 0;
  margin-bottom: 10px;
}
.cv-sidebar-wrapper .cv-tagline {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 0;
}
.cv-sidebar-wrapper .cv-profile {
  margin-bottom: 15px;
  border-radius: 100%;
}
.cv-sidebar-wrapper .cv-contact-list .fa {
  margin-right: 5px;
  font-size: 18px;
  vertical-align: middle;
}
.cv-sidebar-wrapper .cv-contact-list li {
  margin-bottom: 15px;
}
.cv-sidebar-wrapper .cv-contact-list li:last-child {
  margin-bottom: 0;
}
.cv-sidebar-wrapper .cv-contact-list .cv-email .fa {
  font-size: 14px;
}
.cv-sidebar-wrapper .cv-container-block {
  padding: 15px;
}
.cv-sidebar-wrapper .cv-container-block-title {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 15px;
}
.cv-sidebar-wrapper .cv-degree {
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 5px;
}
.cv-sidebar-wrapper .cv-education-container .cv-item {
  margin-bottom: 15px;
}
.cv-sidebar-wrapper .cv-education-container .cv-item:last-child {
  margin-bottom: 0;
}
.cv-sidebar-wrapper .cv-education-container .cv-meta {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 500;
  margin-bottom: 0px;
  margin-top: 0;
}
.cv-sidebar-wrapper .cv-education-container .cv-time {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 500;
  margin-bottom: 0px;
}
.cv-sidebar-wrapper .cv-languages-container .cv-lang-desc {
  color: rgba(255, 255, 255, 0.6);
}
.cv-sidebar-wrapper .cv-languages-list {
  margin-bottom: 0;
}
.cv-sidebar-wrapper .cv-languages-list li {
  margin-bottom: 10px;
}
.cv-sidebar-wrapper .cv-languages-list li:last-child {
  margin-bottom: 0;
}
.cv-sidebar-wrapper .cv-interests-list {
  margin-bottom: 0;
}
.cv-sidebar-wrapper .cv-interests-list li {
  margin-bottom: 10px;
}
.cv-sidebar-wrapper .cv-interests-list li:last-child {
  margin-bottom: 0;
}
.cv-main-wrapper {
  background: #fff;
  padding: 60px;
  padding-right: 300px;
}
.cv-main-wrapper .cv-section-title {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 500;
  color: #5bb66f;
  position: relative;
  margin-top: 0;
  margin-bottom: 20px;
}
.cv-main-wrapper .cv-section-title .fa {
  width: 30px;
  height: 30px;
  margin-right: 8px;
  color: #fff;
  border-radius: 50%;
  background: #5bb66f;
  background-clip: padding-box;
  text-align: center;
  font-size: 16px;
  position: relative;
  top: -2px;
  display: inline;
  padding: 9px;
  vertical-align: middle;
}
.cv-main-wrapper .cv-section {
  margin-bottom: 60px;
}
.cv-main-wrapper .cv-experiences-section .cv-item {
  .cv-skills-label {
    font-size: 18px;
    margin: 10px 0;
  }
}
.cv-main-wrapper .cv-upper-row {
  position: relative;
  overflow: hidden;
  margin-bottom: 2px;
}
.cv-main-wrapper .cv-job-title {
  color: #5bb66f;
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
}
.cv-main-wrapper .cv-time {
  position: absolute;
  right: 0;
  top: 0;
  color: #97aac3;
}
.cv-main-wrapper .cv-company {
  margin-bottom: 10px;
  color: #97aac3;
}
.cv-main-wrapper .cv-project-title {
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 5px;
}
.cv-main-wrapper .cv-projects-section .cv-intro {
  margin-bottom: 15px;
}
.cv-main-wrapper .cv-projects-section .cv-item {
  margin-bottom: 10px;
}

.cv-experience {
  font-weight: 700;
  font-size: 18px;
  margin: 10px 0;
}

.cv-skillset .cv-item {
  margin-bottom: 15px;
  overflow: hidden;
}

.cv-skillset .cv-level-title {
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 12px;
}
.cv-skillset .cv-level-bar {
  height: 12px;
  background: #f5f5f5;
}
.cv-skillset .cv-level-bar-inner {
  height: 12px;
  background: #6c92a3;
}
.cv-footer {
  padding: 30px;
  padding-top: 60px;
}
.cv-footer .cv-copyright {
  line-height: 1.6;
  color: #545e6c;
  font-size: 13px;
}

/* Extra small devices (phones, less than 768px) */
@media (max-width: 767px) {
  .cv-sidebar-wrapper {
    position: static;
    width: inherit;
  }
  .cv-main-wrapper {
    padding: 30px;
  }
  .cv-main-wrapper .cv-time {
    position: static;
    display: block;
    margin-top: 5px;
  }
  .cv-main-wrapper .cv-upper-row {
    margin-bottom: 0;
  }
}
/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .cv-skillset .cv-level-title {
    display: inline-block;
    float: left;
    width: 30%;
    margin-bottom: 0;
  }
  .cv-skillset .cv-level-bar {
    display: inline-block;
    width: 70%;
    float: left;
    position: relative;
    top: 1px;
  }
}
/* Large devices (large desktops, 1200px and up) */
/* Ex-Large devices (large desktops, 1200px and up) */
