@import "../../styles/_variables.scss";

.home {
  background-color: $bg-color-gray;
  min-height: 72.5vh;
  padding: 20vh 0 50px 0;

  &-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    &-left {
      width: 30rem;
    }

    &-right {
      width: 19rem;
      img {
        width: 100%;
        height: auto;
        border-radius: 100%;
        vertical-align: middle;
      }
    }
  }

  &-title {
    color: $dark-1;
    font-size: 60px;
  }

  &-subtitle {
    margin-top: 20px;
    line-height: 1.5;
  }

  &-socials {
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 20px 0;

    &-linkedin {
      height: 31px;
      svg {
        fill: $black;
        transition: $transition;
      }
      svg:hover {
        fill: $primary-blue;
        transition: 0.35s all;
      }
    }

    &-github {
      height: 31px;
      svg {
        fill: $white;
        transition: $transition;
      }
      svg:hover {
        transition: 0.35s all;
        stroke: $primary-blue;
      }
    }
  }

  &-skills {
    display: flex;
    align-items: center;
    margin-top: 60px;

    &-wrapper {
      display: flex;
      align-items: center;
      gap: 25px;
    }

    &-label {
      display: inline-block;
      color: $dark-1;
      padding-right: 20px;
      margin-right: 20px;
      border-right: 2px solid $dark-1;
    }

    &-item {
      position: relative;
      transition: $transition;
      img {
        vertical-align: middle;
      }

      &:hover {
        transform: translateY(-20%);
        transition: $transition;
      }
    }
  }
}

@media (max-width: 929px) {
  .home {
    padding: 12.5vh 0 50px 0;
    &-wrapper {
      flex-direction: column-reverse;
      text-align: center;

      &-left {
        width: 90%;
      }

      &-right {
        width: 200px;
      }
    }

    &-title {
      margin-top: 25px;
      font-size: 32px;
    }

    &-socials {
      justify-content: center;
      gap: 35px;
    }

    &-skills {
      justify-content: center;

      &-label {
        padding: 10px;
      }
      

      &-wrapper {
        gap: 5px;
        flex-wrap: wrap;
      }
    }
  }
}
